.panel {
  --panel-heading-gap: 24px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px;
  background-color: var(--background-elevated);
  border-radius: var(--shape-container-sm);
}

.panel__heading-block {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  min-height: 32px;
  margin-bottom: var(--panel-heading-gap);
}

.panel__heading {
  flex-shrink: 0;
  margin: 0;
  overflow-wrap: normal;
  color: var(--foreground-primary);
  white-space: nowrap;
}

.panel__actions {
  flex: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.panel__body {
  display: flex;
  flex-direction: column;
}
