.row-resizer {
  height: 8px;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: stretch;
  cursor: row-resize;
  touch-action: none;
}

.row-resizer:focus {
  outline: none;
}

.row-resizer:focus-visible {
  outline: var(--borderwidth-md) solid var(--border-brand-primary);
  outline-offset: var(--borderwidth-md);
}

.row-resizer::before {
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--border-secondary);
}

.row-resizer:hover::before,
.row-resizer:focus-visible::before,
.row-resizer--dragging::before {
  background-color: var(--border-brand-primary);
}
